<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     
    <!-- If IE use the latest rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     
    <!-- Set the page to the width of the device and set the zoon level -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>LZVault</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <link rel="stylesheet" type="text/css" href="../static/css/resume.css">
</head>

<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-THBZ7V"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-THBZ7V');</script>
    <!-- End Google Tag Manager -->
    <div id="content">
        <div class="page-header col-lg-12 col-md-12 col-sm-12 col-xs-12", role="banner">
            <div class="logo col-lg-1 col-md-1 col-sm-4 col-xs-4">
                <a href = "/"><img src="../static/img/logo.png", class='img-responsive' alt="Leo Zhao"></a>
            </div>
            <div class="head-nav col-lg-11 col-md-11 col-sm-8 col-xs-8">
                <div class="head-nav-button">
                    <a href="#" type="submit" class="btn btn-lg btn-link">Find</a>
                </div>
                <div class="head-nav-button">
                    <a href="/resume" type="submit" class="btn btn-lg btn-link">Resume</a>
                </div>
                <div class="head-nav-button">
                    <a href="#" type="submit" class="btn btn-lg btn-link">Terminal</a>
                </div>
            </div>
        </div>
    <main id="body">
        <div id="name"> Yang(Leo) Zhao</div>
        <br/>
        <p class='contact_info'>+1(226)600‐8256 </p>
        <p class='contact_info'>| </p>
        <p class='contact_info'>leo.yang.zhao@gmail.com </p>
        <p class='contact_info'>| </p>
        <a href='http://linkedin.com/in/yangleozhao' class='contact_info link'>linkedin.com/in/yangleozhao</a>
        <br/>
        <br/>
        <div class='resume_body'>

            <p class='headding'>Education</p>
            <hr>
            <p class='major_headding'>University of Waterloo <span>Waterloo, ON</span></p>
            <p class='description'>Bachelor of Applied Science, Computer Engineering <span>Graduating May 2016</span><br> Option in Management Science</p>
            <br/>
            <br/>

            <p class='headding'>Work Experience</p>
            <hr>
            <p class='major_headding'>Wish <span>San Francisco, CA</span></p>
            <p class='description'>Relevancy Engineer <span>Sept 2015 - Dec 2015</span></p>
            <ul>
                <li>Designed and developed user simulations to help predict user behaviors and benchmark ML algorithms</li>
                <li>Surfaced detailed metrics such as Gross Merchandise Volume per category for business decisions</li>
                <li>Reduced multiple critical queries' runtime by more than 60% and improved its accuracy</li>
                <li>Experimented with ensemble methods to improve product recommendations</li>
                <li>Took initiative to develop a web portal to display various performance metrics to executives</li>
                <li>Developed an internal discount tool to propagate user requested discount to several promotional spots</li>
            </ul>
            <p class='major_headding'>Reflektion <span>San Mateo, CA</span></p>
            <p class='description'>Software Engineer <span>Jan 2015 - May 2015</span></p>
            <ul>
                <li>Designed and developed the offline ML testing framework to rapidly compare performance <br>between different ML models</li>
                <li>Led the QA team to develop Selenium tests to monitor quality of service</li>
                <li>Took initiative to create an internal appliation for coworkers to rate catered food</li>
            </ul>
            <p class='major_headding'>Tactic Hive Entertainment Inc. <span>Waterloo, ON</span></p>
            <p class='description'>CEO/Co-Founder <span>Dec 2013 - Nov 2014</span><p>
            <ul>
                <li>Won $10,000 from pitch competitions</li>
                <li>Successfully negotiated and closed over $50,000 in sponsorship deals with multiple companies</li>
                <li>Transformed Tactic Hive from an idea to a global eSports league with over 10,000 active users</li>
            </ul>
            <p class='major_headding'>Cisco Systems<span>Ottawa, ON</span></p>
            <p class='description'>Technical Marketing Engineer <span>Jan 2013 - Apr 2013, Sept 2013 - Dec 2013</span></p>
            <ul>
                <li>Demonstrated ability to work and learn independently by tackling complex routing protocols <br>with little supervision (CCNA Certified since Highschool)</li>
                <li>Assessed Cisco Prime's competitive advantages/disadvantages as a network management solution</li>
                <li>Analyzed test results on ASR1K with major technologies such as MPLS, OSPF, BGP and IPv6 and <br>provided technical consulting for sales teams.</li>
            </ul>

            <p class='headding'>Qualifications</p>
            <hr>
            <ul>
                <li><b>Technical Skills:</b> Python, MATLAB, MongoDB, Redis, SQL, AWS, Jenkins, Selenium, Django, network switching and routing protocols</li>
                <li><b>Advanced knowledge:</b> Dimensionality reduction, feature selection, collaborative filtering and clustering; Tabu search, simulated annealing, genetic algorithm, PSO, ACO</li>
            </ul>
            <br>
            <br>
        </div>
    </main>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>